html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
      width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
}
.head-cont{
    display: flex;
    justify-content: space-between;
}
.head-cont .links{
    display: flex;
    align-items: center;
}
.head-cont .links a{
    background-color: white;
    text-decoration: none;
    padding:10px;
    color: rgb(255, 187, 0);
    transition: 0.2s;
}
.head-cont .links a:hover{
    font-weight: 600;
    letter-spacing: 2px;
}
/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
.back-g{
    background-image: url("./imgs/background.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/* ////////////////////////////////////// */
/* ////////////////////////////////////// */
.info{
    background-color: rgb(255, 187, 0);
}
.info-cont{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem; 
}
.info-cont .info-t{
    max-width: 380px;
    margin-right: 30px;
}
.info-cont .info-t h1{
    font-weight: 100;
    letter-spacing: 2px;
}
.info-cont .info-t p{
    line-height: 1.7rem;
}
.info-cont img{
    border-radius: 10px;
}
/* \\\\\\\\\\\\\\\\\\\\\\\///////////////////////// */
/* \\\\\\\\\\\\\\\\\\\\\\\///////////////////////// */
.off-cont{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
    justify-content: center;
}
.off-cont .card{
    width: fit-content;
    border-radius: 20px 20px 10px 10px ;
    background-color: rgb(255, 187, 0);
}
.off-cont .card img{
    width: 300px;
    border-radius: 20px;
}
.off-cont .card h3{
    text-align: center;
}
.offers h1{
    margin: 0;
    font-size: 50px;
    margin-top: 20px;
    color:  rgb(255, 187, 0);
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\///////////////////////////// */
.contact{
    margin-top: 40px;
    margin-bottom: 20px;
}
.contact .icons{
    display: flex;
    justify-content: center;
}
.contact h1{
    margin: 0;
    font-size: 40px;
    margin-top: 20px;
    color:  rgb(255, 187, 0);
    text-align: center;
}
.contact .icons .icon{
    border-radius: 50%;
    margin-left: 10px;
    width: max-content;
}
.contact .icons .icon:hover{
    background-image: linear-gradient( yellow ,red 90%);
}
.contact .icons .icon img{
    padding: 10px;
    width: 40px;
}
.foot-cont{
    display: flex;
    justify-content: center;
}
.foot-cont p a{
    text-decoration: none;
}
.foot-cont p a:hover{
    color: rgb(255, 187, 0);
}